# =================================================================
# Arquivos e Pastas de Ambiente Virtual Python
# =================================================================
venv/
env/
.venv
__pypackages__/

# =================================================================
# Arquivos de Cache e Bytecode do Python
# =================================================================
__pycache__/
*.pyc
*.pyo
*.pyd

# =================================================================
# Banco de Dados (SQLite)
# =================================================================
*.sqlite3
*.db
test.db

# =================================================================
# Logs (da sua lista)
# =================================================================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =================================================================
# Dependências e Builds de Node.js (da sua lista)
# =================================================================
node_modules
dist
dist-ssr
*.local

# =================================================================
# Arquivos e Pastas de Editores de Código (da sua lista)
# =================================================================
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?